{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="bg-origin-border bg-center bg-no-repeat bg-cover bg-fixed relative invisible sm:visible">
        <img class="object-fill max-w-full h-auto"
             src="{{ asset('build/images/fabio-silva-wild-series-tv-banner.jpg') }}" alt="television">
        <h3 class="absolute text-2xl text-white bottom-5 right-5">Photo by <a
                    href="https://unsplash.com/@tamarisco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fábio
                Silva</a> on <a
                    href="https://unsplash.com/s/photos/screen?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </h3>
    </div>

    <section class="flex flex-col justify-center">
        <h1 class="font-serif text-4xl md:text-9xl text-center uppercase">wild series</h1>
    </section>


{% endblock %}