parameters:
    level: 9
    doctrine:
            objectManagerLoader: tests/object-manager.php
            allowNullablePropertyForRequiredField: true
    paths:
        - src
    excludePaths:
    		- src/DataFixtures/*
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
    - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9]*[()]* has no return type specified#'
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
