{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - E-mail de ré-initialization de mot de passe envoyé{% endblock %}

{% block body %}
<section class="flex flex-col justify-center items-center h-full">
<div class="flex justify-center">
    <div class="block p-6 rounded-lg shadow-lg bg-red max-w-sm lg:max-w-lg">
    <p class="text-black text-base font-sans mb-4">
        Si un compte correspondant à votre e-mail existe, alors un message contenant un lien vous sera envoyé pour
        réinitialiser votre mot de passe. Ce lien expirera dans
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    </p>
    <p class="text-black text-base font-sans mb-4">Si vous ne recevez pas cet e-mail, veuillez vérifier votre dossier spam ou
        <a href="{{ path('forgot_password_request') }}"
           class="border-b border-gray-200 w-full rounded-t-lg">réessayez</a>
    </p>
    </div>
</div>
</section>
{% endblock %}
