<ul
        class="
          dropdown-menu
          min-w-max
          absolute
          hidden
          bg-white
          text-base
          z-50
          float-left
          py-2
          list-none
          text-left
          rounded-lg
          shadow-lg
          mt-1
          hidden
          m-0
          bg-clip-padding
          border-none
        "
        aria-labelledby="dropdownMenuButton2"
>
    {% for category in categories %}
        <li>
            <a
                    class="
              dropdown-item
              text-sm
              bg-red
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              uppercase
            "
                    href="{{ path('category_show', {'categoryName': category.name}) }}"
            >{{ category.name }}</a
            >
        </li>
    {% endfor %}
</ul>
