<form method="post"
      action="{{ path('episode_delete', {'slug': episode.slug, 'program_slug': program.slug, 'seasonId': season.id}) }}"
      onsubmit="return confirm('Are you sure you want te delete this episose?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn text-center inline-block px-6 py-2.5 bg-red text-black font-medium text-md leading-tight uppercase rounded hover:bg-opacity-50 hover:text-black hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
        {{ 'episode.delete'|trans }}
    </button>
</form>
