<form method="post" action="{{ path('episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Êtes vous sure de vouloir supprimer cet épisode ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn">Delete</button>
</form>
