{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Edition d'un épisode{% endblock %}

{% block body %}
    <h1 class="text-shadow-lg shadow-red text-center uppercase font-extrabold font-serif text-4xl md:text-5xl xl:text-6xl my-4 md:my-8">Editer un épisode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('episode_index') }}">Revenir à la liste</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
