{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Editer une saison{% endblock %}

{% block body %}
    <h1 class="text-shadow-lg shadow-red text-center uppercase font-extrabold font-serif text-4xl md:text-5xl xl:text-6xl my-4 md:my-8">Editer une saison</h1>
<section class="flex justify-center items-center">
    <div class="block p-6 my-5 rounded-lg shadow-lg bg-red max-w-xl">
        {{ include('season/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="mt-5">
            {{ component('_button', {
                buttonUrl: path('season_index'),
                buttonText: 'Retour',
            }) }}
        </div>

        {{ include('season/_delete_form.html.twig') }}
    </div>
</section>

{% endblock %}
