{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{'program.add'|trans}}{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">
        {{ 'program.creation'|trans }}
    </h1>
    <section class="flex flex-col justify-center items-center">
        <div class="block p-6 my-5 rounded-lg shadow-lg bg-red max-w-md">
            {% include('program/_form.html.twig') %}
        </div>
        <div class="my-3 md:my-5">
            {{ component('_button', {
                buttonUrl: path('program_index'),
                buttonText: 'program.index.back'|trans,
            }) }}
        </div>
    </section>

{% endblock %}