{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ 'actor.add'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">Ajout d'un acteur</h1>
    <section class="flex flex-col justify-center items-center">
        <div class="block p-6 my-5 rounded-lg shadow-lg bg-red max-w-md">
            {{ include('actor/_form.html.twig') }}
        </div>
        <div class="my-3 md:my-5">
            {{ component('_button', {
                buttonUrl: path('actor_index'),
                buttonText: 'Back'|trans
            }) }}
        </div>
    </section>
{% endblock %}