<nav class="sticky
w-full
flex flex-wrap
items-center
justify-between
py-4
bg-red
text-black
hover:text-gray-700
focus:text-gray-700
shadow-lg
navbar navbar-expand-md navbar-red
z-50
">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <a class="text-3xl text-black uppercase" href="{{ path('Home_page') }}">wild series</a>
        <button class="
    navbar-toggler
    text-gray-500
    border-0
    hover:shadow-none hover:no-underline
    py-2
    px-2.5
    bg-white
    rounded
    focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline
  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                 class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </button>

        <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto items-center">
                <li class="nav-item px-2 my-5">
                    {{ component('_button', {
                        buttonUrl: '#',
                        buttonText: 'acteurs'
                    })
                    }}
                </li>
                <li class="nav-item pr-2">
                    <div class="flex justify-center">
                        <div>
                            <div class="dropdown relative">
                                <a
                                        class="
          dropdown-toggle
          px-6
          py-2.5
          bg-white
          text-black
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-blue-700 hover:shadow-lg
          focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg active:text-white
          transition
          duration-150
          ease-in-out
          flex
          items-center
          whitespace-nowrap
        "
                                        href="#"
                                        type="button"
                                        id="dropdownMenuButton2"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                >
                                    catégories
                                    <svg
                                            aria-hidden="true"
                                            focusable="false"
                                            data-prefix="fas"
                                            data-icon="caret-down"
                                            class="w-2 ml-2"
                                            role="img"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 320 512"
                                    >
                                        <path
                                                fill="currentColor"
                                                d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
                                        ></path>
                                    </svg>
                                </a>
                                {{ render(path('category_index'))}}
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link text-black hover:text-white focus:text-white p-0" href="#">mes favoris</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link text-black hover:text-white focus:text-white p-0" href="#">connection</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
</nav>